/* Reset mínimo + fondo negro global */
html, body, #root {
  height: 100%;
  margin: 0;              /* <- quita el borde blanco */
  background: #000;       /* negro global */
}

* { box-sizing: border-box; }
img, video, canvas { display: block; max-width: 100%; }
:root { color-scheme: dark; }
